@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

/* just light or dark themes */
@import "open-props/normalize/dark";
@import "open-props/buttons/dark";
@import "open-props/normalize/light";
@import "open-props/buttons/light";

/* individual imports */
@import "open-props/indigo";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";

@import "open-props/colors-hsl";
@import "open-props/brand-colors";

/*html {*/
/*  --font-system-ui: system-ui, sans-serif;*/
/*  --font-transitional: Charter, Bitstream Charter, Sitka Text, Cambria, serif;*/
/*  --font-old-style: Iowan Old Style, Palatino Linotype, URW Palladio L, P052, serif;*/
/*  --font-humanist: Seravek, Gill Sans Nova, Ubuntu, Calibri, DejaVu Sans, source-sans-pro, sans-serif;*/
/*  --font-geometric-humanist: Avenir, Montserrat, Corbel, URW Gothic, source-sans-pro, sans-serif;*/
/*  --font-classical-humanist: Optima, Candara, Noto Sans, source-sans-pro, sans-serif;*/
/*  --font-neo-grotesque: Inter, Roboto, Helvetica Neue, Arial Nova, Nimbus Sans, Arial, sans-serif;*/
/*  --font-monospace-slab-serif: Nimbus Mono PS, Courier New, monospace;*/
/*  --font-monospace-code: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono,Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code,Menlo, Consolas, DejaVu Sans Mono, monospace;*/
/*  --font-industrial: Bahnschrift, DIN Alternate, Franklin Gothic Medium, Nimbus Sans Narrow, sans-serif-condensed, sans-serif;*/
/*  --font-rounded-sans: ui-rounded, Hiragino Maru Gothic ProN, Quicksand, Comfortaa, Manjari, Arial Rounded MT, Arial Rounded MT Bold, Calibri, source-sans-pro, sans-serif;*/
/*  --font-slab-serif: Rockwell, Rockwell Nova, Roboto Slab, DejaVu Serif, Sitka Small, serif;*/
/*  --font-antique: Superclarendon, Bookman Old Style, URW Bookman, URW Bookman L, Georgia Pro, Georgia, serif;*/
/*  --font-didone: Didot, Bodoni MT, Noto Serif Display, URW Palladio L, P052, Sylfaen, serif;*/
/*  --font-handwritten: Segoe Print, Bradley Hand, Chilanka, TSCu_Comic, casual, cursive;*/
/*}*/


/* light theme */
html {
  --brand-light: var(--blue-7);

  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);

  --success-light: var(--green-6);
  --warning-light: var(--yellow-6);
  --info-light: var(--blue-6);
  --error-light: var(--red-6);
}

/*/* dark theme */*/
/*html {*/
/*  --brand-dark: var(--blue-9);*/
/**/
/*  --text-1-dark: var(--gray-3);*/
/*  --text-2-dark: var(--gray-5);*/
/**/
/*  --surface-1-dark: var(--gray-12);*/
/*  --surface-2-dark: var(--gray-11);*/
/*  --surface-3-dark: var(--gray-10);*/
/*  --surface-4-dark: var(--gray-9);*/
/**/
/*  --success-dark: var(--green-5);*/
/*  --warning-dark: var(--yellow-5);*/
/*  --info-dark: var(--blue-5);*/
/*  --error-dark: var(--red-5);*/
/*}*/
/**/
/*/* dim theme */*/
/*html {*/
/*  --brand-dim: var(--blue-5);*/
/**/
/*  --text-1-dim: var(--gray-3);*/
/*  --text-2-dim: var(--gray-4);*/
/**/
/*  --surface-1-dim: var(--gray-8);*/
/*  --surface-2-dim: var(--gray-7);*/
/*  --surface-3-dim: var(--gray-6);*/
/*  --surface-4-dim: var(--gray-5);*/
/**/
/*  --success-dim: var(--green-4);*/
/*  --warning-dim: var(--yellow-4);*/
/*  --info-dim: var(--blue-4);*/
/*  --error-dim: var(--red-4);*/
/*}*/

/* adaptive aliases */
:root {
  --brand: var(--brand-light);

  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);

  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);

  --success: var(--success-light);
  --warning: var(--warning-light);
  --info: var(--info-light);
  --error: var(--error-light);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --brand: var(--brand-dark);*/
/**/
/*    --text-1: var(--text-1-dark);*/
/*    --text-2: var(--text-2-dark);*/
/**/
/*    --surface-1: var(--surface-1-dark);*/
/*    --surface-2: var(--surface-2-dark);*/
/*    --surface-3: var(--surface-3-dark);*/
/*    --surface-4: var(--surface-4-dark);*/
/**/
/*    --success: var(--success-dark);*/
/*    --warning: var(--warning-dark);*/
/*    --info: var(--info-dark);*/
/*    --error: var(--error-dark);*/
/*  }*/
/*}*/

/*@media (prefers-contrast: less) {*/
/*  :root {*/
/*    --brand: var(--brand-dim);*/
/**/
/*    --text-1: var(--text-1-dim);*/
/*    --text-2: var(--text-2-dim);*/
/**/
/*    --surface-1: var(--surface-1-dim);*/
/*    --surface-2: var(--surface-2-dim);*/
/*    --surface-3: var(--surface-3-dim);*/
/*    --surface-4: var(--surface-4-dim);*/
/**/
/*    --success: var(--success-dim);*/
/*    --warning: var(--warning-dim);*/
/*    --info: var(--info-dim);*/
/*    --error: var(--error-dim);*/
/*  }*/
/*}*/

[color-scheme="purple"] {
  --brand: var(--brand-purple);

  --text-1: var(--text-1-purple);
  --text-2: var(--text-2-purple);

  --surface-1: var(--surface-1-purple);
  --surface-2: var(--surface-2-purple);
  --surface-3: var(--surface-3-purple);
  --surface-4: var(--surface-4-purple);

  --success: var(--green-5);
  --warning: var(--yellow-5);
  --info: var(--blue-5);
  --error: var(--red-5);
}

/*h1,h2,h3,h4,p,dt {*/
/*  color: var(--text-1);*/
/*}*/
/**/
/*h5,h6,small,dd {*/
/*  color: var(--text-2);*/
/*}*/
/**/
/*html {*/
/*  background-color: var(--surface-1);*/
/*  color: var(--text-1);*/
/*  accent-color: var(--link);*/
/*}*/


/*overrides*/
:where(.btn,button,input:is([type=button],[type=submit],[type=reset])), 
:where(input[type=file])::-webkit-file-upload-button, 
:where(input[type=file])::file-selector-button {
  border-radius: 0;
  border: none;
}

.vh {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    block-size: 1px;
    inline-size: 1px;
    overflow: hidden;
    white-space: nowrap;
}
.icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    background-color: var(--surface-2);
    transition:
      background-color 0.3s,
      box-shadow 0.3s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

  svg {
    pointer-events: none;
    stroke: var(--text-2);
  }

}
